<h1>Second View from hello</h1>

<% @array.each do |n| %>
    <%= n %> <br />
<% end %>
<br />
<%= link_to('Index page', {:action => 'index'}) %> <br />

<br />

ID: <%= @id %> <br />
ID: <%= params[:id] %> <br />
Page: <%= @page %>